.header {
  /* background: black; */
  color: #EEEEEE;
  padding: 5rem 0;
  position: fixed;
  transition: .8s cubic-bezier(0.2, 0.8, 0.2, 1);
  width: 100%;
  z-index: 100;

}

.header__scrolled {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 0;
  backdrop-filter: blur(20px);
}

.headergroup {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-items: center;
  margin: 0 auto;
  max-width: 80rem;

}

.header a {
  border-radius: 20px;
  color: #EEEEEE;
  font-size: 2rem;
  font-weight: 700;
  padding: 9px;
  transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.header a:first-of-type:hover {
  transform: translateY(-6px) scale(1.2);
}

.header a:first-of-type:active {
  transform: translateY(-3px);
}


.header a:not(:first-of-type):hover {
  background: rgba(238, 238, 238, 0.8);
  box-shadow: 0 3rem 5rem (rgb(45, 45, 45), 0.2);
  color: #262739;
  transform: translateY(-6px);
}

.header a:not(:first-of-type):active {
  background: rgba(238, 238, 238, 0.8);
  box-shadow: 0 1.5rem 2.5rem rgba(45, 45, 45, 1), 0.2;
  color: #262739;
  transform: translateY(-3px);
}

@media (max-width: 640px) {
  .header {
    padding: 1.5rem 0;
  }
  
  .headergroup {
    grid-template-columns: repeat(4, auto);
  }

}