/* Skill Bar Styling */
.container {
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.content {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.content--mlarge {
  margin-top: 14.4rem;
}

.heading {
  color: #072142;
  font-family: 'Lato', sans-serif;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  margin-right: 3.2rem;
  padding-top: 1.2rem;
  text-transform: uppercase;
}

.heading--right {
  color: #072142;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 6rem;
  font-weight: 600;
  justify-content: flex-end;
  letter-spacing: .4rem;
  padding-top: 18rem;
  padding-right: 8rem;
  right: 0;
  text-transform: uppercase;
}

.heading--right:after {
  background: #DF724F;
  content: "";
  height: 3px;
  margin-top: 3rem;
  right: 0;
  position: absolute;
  width: 6rem;
}

.heading-num {
  font-size: 4rem;
  color: #ff4d5a;
  position: relative;
  padding-right: 1rem;
  font-family: 'Abril Fatface';
  line-height: 1.1;
}

.small-title {
  font-size: 2.4rem;
  color: #072142;
  letter-spacing: 0.2em;
  line-height: 1.2;
  font-family: 'futura', 'Lato';
}

.meta__text .small-title {
  margin-bottom: 0.8rem;
}

.skill-set__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .skill-set__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.skill-set__list {
  width: 47%;
}
@media screen and (max-width: 800px) {
  .skill-set__list {
    width: 100%;
  }
  .skill-set__list:last-child {
    margin-top: 7.2rem;
  }
}
.skill-set__item {
  margin-top: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.skill-set__item:first-child {
  margin-top: 0;
}
@media screen and (max-width: 420px) {
  .skill-set__item {
    margin-top: 3.2rem;
  }
}
.skill-set__icon {
  -ms-flex-item-align: center;
  align-self: center;
}
.skill-set__detail {
  width: 85.1063%;
}
.skill-set__meta {
  margin-bottom: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.skill-set__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.skill-set__year {
  font-size: 1.4rem;
  line-height: 1.2;
  color: #c0c5ca;
  margin-left: 0.8rem;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 420px) {
  .skill-set__year {
    font-size: 1rem;
  }
}
.skill-set__ratio {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #072142;
}
@media screen and (max-width: 420px) {
  .skill-set__ratio {
    font-size: 1rem;
  }
}
.skill-set__high {
  color: #ff4d5a;
}
.skill-set__med {
  color: #A23274;
}
.skill-set__bar {
  width: 100%;
  height: 1.4rem;
  background: #fff;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(7, 33, 66, .1);
  box-shadow: 0 5px 10px 0 rgba(7, 33, 66, .1);
}
@media screen and (max-width: 420px) {
  .skill-set__bar {
    height: 0.7rem;
  }
}
.skill-set__bar:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  width: 10%;
}
.skill-set__bar.p90:after {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#072142),
    color-stop(42%, #8c2b7a),
    to(#ff4d5a)
  );
  background-image: -webkit-linear-gradient(
    left,
    #072142,
    #8c2b7a 42%,
    #ff4d5a
  );
  background-image: -o-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
  background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
}
.skill-set__bar.p90.in:after {
  -webkit-animation: ratio90 1.5s forwards;
  animation: ratio90 1.5s forwards;
}
.skill-set__bar.p80:after {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#072142),
    color-stop(50%, #8c2b7a),
    to(#ff4d5a)
  );
  background-image: -webkit-linear-gradient(
    left,
    #072142,
    #8c2b7a 50%,
    #ff4d5a
  );
  background-image: -o-linear-gradient(left, #072142, #8c2b7a 50%, #ff4d5a);
  background-image: linear-gradient(to right, #072142, #8c2b7a 50%, #ff4d5a);
}
.skill-set__bar.p80.in:after {
  -webkit-animation: ratio80 1.5s forwards;
  animation: ratio80 1.5s forwards;
}
.skill-set__bar.p70:after {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#072142),
    color-stop(65%, #8c2b7a),
    to(#ff4d5a)
  );
  background-image: -webkit-linear-gradient(
    left,
    #072142,
    #8c2b7a 65%,
    #ff4d5a
  );
  background-image: -o-linear-gradient(left, #072142, #8c2b7a 65%, #ff4d5a);
  background-image: linear-gradient(to right, #072142, #8c2b7a 65%, #ff4d5a);
}
.skill-set__bar.p70.in:after {
  -webkit-animation: ratio70 1.5s forwards;
  animation: ratio70 1.5s forwards;
}
.skill-set__bar.p60:after {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#072142),
    color-stop(75%, #8c2b7a),
    to(#ff4d5a)
  );
  background-image: -webkit-linear-gradient(
    left,
    #072142,
    #8c2b7a 75%,
    #ff4d5a
  );
  background-image: -o-linear-gradient(left, #072142, #8c2b7a 75%, #ff4d5a);
  background-image: linear-gradient(to right, #072142, #8c2b7a 75%, #ff4d5a);
}
.skill-set__bar.p60.in:after {
  -webkit-animation: ratio60 1.5s forwards;
  animation: ratio60 1.5s forwards;
}
.skill-set__bar.p50:after {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#072142),
    color-stop(65%, #8c2b7a)
  );
  background-image: -webkit-linear-gradient(left, #072142, #8c2b7a 65%);
  background-image: -o-linear-gradient(left, #072142, #8c2b7a 65%);
  background-image: linear-gradient(to right, #072142, #8c2b7a 65%);
}
.skill-set__bar.p50.in:after {
  -webkit-animation: ratio50 1.5s forwards;
  animation: ratio50 1.5s forwards;
}
.skill-set__bar.p40:after {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#072142),
    color-stop(65%, #8c2b7a)
  );
  background-image: -webkit-linear-gradient(left, #072142, #8c2b7a 65%);
  background-image: -o-linear-gradient(left, #072142, #8c2b7a 65%);
  background-image: linear-gradient(to right, #072142, #8c2b7a 65%);
}
.skill-set__bar.p40.in:after {
  -webkit-animation: ratio40 1.5s forwards;
  animation: ratio40 1.5s forwards;
}

.skill-set__bar.p30:after {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#072142),
    color-stop(65%, #8c2b7a)
  );
  background-image: -webkit-linear-gradient(left, #072142, #8c2b7a 65%);
  background-image: -o-linear-gradient(left, #072142, #8c2b7a 65%);
  background-image: linear-gradient(to right, #072142, #8c2b7a 65%);
}

.skill-set__bar.p30.in:after {
  -webkit-animation: ratio40 1.5s forwards;
  animation: ratio30 1.5s forwards;
}

/* Skill Bar Animations */

@-webkit-keyframes ratio90 {
  0% {
    width: 10%;
  }
  to {
    width: 90%;
  }
}
@keyframes ratio90 {
  0% {
    width: 10%;
  }
  to {
    width: 90%;
  }
}
@-webkit-keyframes ratio80 {
  0% {
    width: 10%;
  }
  to {
    width: 80%;
  }
}
@keyframes ratio80 {
  0% {
    width: 10%;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes ratio70 {
  0% {
    width: 10%;
  }
  to {
    width: 70%;
  }
}
@keyframes ratio70 {
  0% {
    width: 10%;
  }
  to {
    width: 70%;
  }
}
@-webkit-keyframes ratio60 {
  0% {
    width: 10%;
  }
  to {
    width: 60%;
  }
}
@keyframes ratio60 {
  0% {
    width: 10%;
  }
  to {
    width: 60%;
  }
}
@-webkit-keyframes ratio50 {
  0% {
    width: 10%;
  }
  to {
    width: 50%;
  }
}
@keyframes ratio50 {
  0% {
    width: 10%;
  }
  to {
    width: 50%;
  }
}
@-webkit-keyframes ratio40 {
  0% {
    width: 10%;
  }
  to {
    width: 40%;
  }
}
@keyframes ratio40 {
  0% {
    width: 10%;
  }
  to {
    width: 40%;
  }
}
@-webkit-keyframes ratio30 {
  0% {
    width: 10%;
  }
  to {
    width: 30%;
  }
}
@keyframes ratio30 {
  0% {
    width: 10%;
  }
  to {
    width: 30%;
  }
}
